body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fec5bb; */
  background-color: #ffadad;
}

#grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

button {
  font-size: 1rem;
}

h1 {
  margin: none;
  padding: none;
  line-height: 0.5;
  text-align: center;
}

section {
}

.socket {
  min-width: 3em;
  min-height: 3em;
  margin: 0.5em;
  border: solid black 0.01em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strike {
  width: 140%;
  height: 2px;
  background: black;
}

/* .strike:after {
  position: absolute;
  left: 0;
  top: 50%;
  height: 1px;
  background: #c00;
  content: "";
  width: 100%;
  display: block;
} */

@media screen and (max-width: 480px) {
  h1 span {
    font-size: 1em;
    display: table;
  }

  button {
    font-size: 0.75rem;
    margin-bottom: 0.75em;
    margin-top: -0.5em;
  }

  div {
    min-width: 2em;
    min-height: 2em;
    margin: 0.2em;
  }
}

