body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

div {
  min-width: 3em;
  min-height: 3em;
  margin: 0.5em;
  border: solid black 1px;
  border-radius: 50%;
}