body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fec5bb; */
  background-color: #ffadad;
}



/* #grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 525px;
  max-height: 525px;
} */

button {
  font-size: 1rem;
}

h1 {
  margin: none;
  padding: none;
  line-height: 0.5;
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.socket {
  position: relative;
  min-width: 3em;
  min-height: 3em;
  margin: 0.5em;
  border: solid black 0.01em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div[strike] {
  position: absolute;
  background: black;
}

div[strike="horizontal"] {
  width: 140%;
  height: 2px;
}

div[strike="vertical"] {
  height: 140%;
  width: 2px;
}

div[strike="right-diagonal"] {
  height: 200%;
  width: 2px;
  transform: rotate(0.125turn);
}

div[strike="left-diagonal"] {
  height: 200%;
  width: 2px;
  transform: rotate(0.875turn);
}

@media screen and (max-width: 480px) {
  h1 span {
    font-size: 1em;
    display: table;
  }

  button {
    font-size: 0.75rem;
    margin-bottom: 0.75em;
    margin-top: -0.5em;
  }

  div {
    min-width: 2em;
    min-height: 2em;
    margin: 0.2em;
  }
}

