body {
  padding: 1em 3em 1em 3em;
  /* display: flex;
  justify-content: center; */
  /* align-items: center; */
}

#grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 25em;
}

div {
  min-width: 3em;
  min-height: 3em;
  margin: 0.5em;
  border: solid black 1px;
  border-radius: 50%;
}